.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

*.iml

*.pro

*.gradle

gradlew.bat

gradlew

gradle/wrapper/gradle-wrapper.properties

gradle/wrapper/gradle-wrapper.jar

gradle.properties

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/gradle.xml

.idea/encodings.xml
